*{
    margin: 0;
    padding: 0;    
}
body{
    background: url('images/banner4.png') no-repeat center/cover;
    backdrop-filter: blur(16px);
}
nav{
    backdrop-filter: blur(50px);
    border-radius: 24px; 
    z-index: 5;
    position: sticky;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 24px;
    height: 4.5rem;
}
.logo img{
    width: 150px;
    margin-top: 5px;
}
.userAuth button{
    border: 1px solid white;
    background: inherit;
    color: white;
    padding: 5px;
    border-radius: 24px;
    height: 3rem;
    width: 150px;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
}
/* .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} */
/* .logIn{
    background-color: #000000;
} */
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    color: #5f34df;
    font-size: 55px;
}
.text-box p{
    color: #fff;
    margin: 50px 0 4px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text-box .btn{
    margin-top: 20px;
    padding: 10px 20px;
}
nav .bi{
    display: none;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        text-align: left;
        width: 200px;
        height: 100vh;
        background: #f44336;
        position: absolute;
        top: 0;
        right: -200px;
        z-index: 2;
        transition: 1s;
    }
    .nav-links li::after{
        background: #000000;
    }
    
    nav .bi{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
     
}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}


.cta{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta iframe{
    /* border-radius: 50%; */
}

.footer{
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer .icons{
    margin-top: 20px;
}
.footer .icons i{
    padding: 10px;
}
.footer #creator{
    margin-top: 30px
}

