<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style p.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <h2>Member Login</h2> 
       <form action="{{ url_for('login') }}" method="POST">
        <div class="input-group">
            <i class="fas fa-envelope"></i>
        <input type="text" name="username" id="username"  placeholder="username"required><br><br>
       </div>
       <div class="input-group">
        <i class="fas fa-lock"></i>
        <input type="password" name="password" id="password"placeholder="enter your password" required><br>
        </div>
        
        <button  class="login-button" type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
   </div>
</body>
</html>
